html { 
    height: 100%;
}
body {
    min-height:100%;
    width: auto;
    padding: 5px 10px;
    padding-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    position:relative;
}
header {
    width: 100%;
    border-bottom: solid 1px #ccc;
    padding: 0 5px 5px;
}
header #webapp-name {
    text-align: center;
}
header #webapp-name h1 {
    margin: 0;
    color: #1397a7;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  #guesses{
      text-align: right;
      margin-top: 10px;
      font-size: 20px;
  }
  #misses-count {
      color: red;
  }
  #current-word {
      text-align: center;
      margin-top: 30px;
      font-size: 40px;
      color: black;
      font-weight: 900;
  }
 
  #current-word .hidden-letter {
      display: inline;
      letter-spacing: 15px;
  }
  .keyboard-container {
      position: relative;
      text-align: center;
      margin: 30px auto;
      width: 85%;
  }
  .keyboard-container .letter {
      color: #fff;
      margin: 5px;
      display: inline-block;
      font-size: 26px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-transform: uppercase;
      border-radius: 50%;
      height: 45px;
      width: 45px;
  }
  .btn-enabled {
    background-color: #1397a7;
    cursor: pointer;
  }
  .btn-disabled-correct {
    background-color: green;
    cursor: no-drop;
  }
  .btn-disabled-incorrect {
    background-color: red;
    cursor: no-drop;
  }
  .game-over-shade, .kudos-shade {
      position: absolute;
      background-color: rgba(204, 204, 204, 0.9);
      height: 100%;
      width: 100%;
      display: none;
  }
  .game-over-shade p, .kudos-shade p {
      font-size: 40px;
      color:red;
      font-weight: 700;
  }
  .kudos-shade {
      display: none;
  }
.reset-btn-container {
    text-align: center;
}
#reset-btn {
    background-color: green;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    padding: 5px 15px;
    border-radius: 15px;
    margin: auto;
    display: none;
}
  footer {
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height: 40px;
    width: 100%;
    border-top: solid 1px #ccc;
    padding: 10px 5px;
  }
  footer #disclaimer {
      text-align: left;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
    .keyboard-container {
        width: 65%;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
